header{
display: inline;
text-align: center;
color: black;

}
nav{
    
    background-color: yellow;
    color: white;
    padding: 1em;
    display: inline;
    margin-bottom: 0;
    text-align: center;
   
}
nav a{
    margin: 6em;

}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 1em;
    
}
body{
    font-family: 'Roboto' sans-serif;
    background-color: white;
    background-image: url(images/back.jpeg);
    margin: 0;
    padding: 0;

    
}
video{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40%;
    
}
img{
    display: block;
    margin-left: 1px;
    width: 250px;
    margin-top: 30px;
    height: 250px;
}

